@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.align-content-middle{
  @apply
  absolute 
  top-1/2 
  left-1/2 
  -translate-x-1/2 
  -translate-y-1/2
}

.gradient-background{
  @apply
  bg-gradient-to-r 
  from-indigo-300 
  via-purple-400 
  to-pink-300
}
